<div class="row my-3">
  <div class="col text-center">
    <!--<div class="d-flex justify-content-center">-->
    <div>
      <input #itemInput (keyup.enter)="addItem(itemInput.value); itemInput.value=''">
      <button (click)="addItem(itemInput.value); itemInput.value=''">Add</button>
    </div>

    <div class="d-flex justify-content-center">
      <ul *ngIf="items">
        <li *ngFor="let item of items"
            (click)="removeItem(item)"
            [@itemAnim]>{{ item }}
        </li>
      </ul>
    </div>

  </div>
</div>
<hr>

<nav>
  <a [routerLink]="['one']" routerLinkActive="active">One</a> |
  <a [routerLink]="['two']" routerLinkActive="active">Two</a> |
  <a [routerLink]="['three']" routerLinkActive="active">Three</a> |
  <a [routerLink]="['four']" routerLinkActive="active">Four</a> |
  <a [routerLink]="['five']" routerLinkActive="active">Five</a>
</nav>
router outlet here:
<!--<div class="main" [@animRoutes]="getPage(appOutlet)">-->
<div class="main" [@routerTransition]="getPage(appOutlet)">
  <router-outlet #appOutlet="outlet"></router-outlet>
</div>

<hr>
<div class="row" (click)="toggleAnimateIconState()">
  <div class="col text-center">
    <div [@someCoolAnimation]="animateIconState">
      Click this footer to run someCoolAnimation
    </div>
  </div>
</div>
