:host {
  width: 100%;
  height: 100%;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Bangers;
  font-size: 2rem;
  margin: 0rem auto;

  position: absolute;
}
