/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';

a {
  margin-right: 2px;
}
a:link,
a:visited {
  border: none;
  color: rgb(255, 0, 100);
  text-decoration: none;
}
a.active {
  border-bottom: 2px solid rgb(255, 0, 100);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
